doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='NamThien.css')
  title Document
.container
  .left-sidebar
  .main-content
    .write-post-container
      // -------------------------Mẫu 2-------------------------------
      .post-row
        .user-profile
          img(src='images/profile-pic.png')
          div
            p
              b Bạn
            small
              i.fas.fa-globe-asia
              |  Public 
              i.fas.fa-caret-down
        button#button-post-container(type='button')
          i.fas.fa-paper-plane
      .post-input-container
        textarea(rows='2' placeholder='Bạn đang nghĩ gì vậy Nhung? ')
        .add-post-links
          a(href='#')
            i.fas.fa-video(style='color:rgba(255, 0, 0, 0.877);')
            |  Video trực tiếp
          a(href='#')
            i.fas.fa-photo-video(style='color:#41db51;')
            |  Ảnh/Video
          a(href='#')
            i.fas.fa-smile-wink(style='color:#FFDE59;')
            |  Cảm xúc/Hoạt động
      // --------------------------Kết thúc mẫu 2-------------------------------
  .right-sidebar
script(src='https://kit.fontawesome.com/215b53afad.js' crossorigin='anonymous')